/* partie header*/
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=Roboto+Slab:wght@400;800&display=swap');
*{
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}
.bg-custum-color{
    background-color: #DB4702 !important;
}
.bg-custum{
    background-color: darkgray;
    width: 60px;
    height: 60px;
}
.nav-link {
    color: #fff !important;
    font-size: 1.3rem;
}
.nav-link:hover {
    color: blue !important;
}

.menu{
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right:auto;
}
.menu-prix{
    color: #DB4702;
    font-weight: 700px;
    float: right;
}
.bg-image{
    background-image: url(./../image/page.webp);
  max-width: 100%;
    background-size: cover;
    display: block;
    height: 80vh;
    line-height: 80vh;

}
.card{
    width: 60%;
    margin: auto;
    border-radius: 20px;
}
.card-img-top{
    height: 25vh;
    border-top-left-radius: 20px;
    border-top-right-radius:20px ; 
    display: block;
}
 .lead{
    padding: 300px 0 100px 20px;
    font-size:5em;
    min-width: 10px; 
    animation: titre ease 3.5s; 
}
@keyframes titre{
    0%{
        opacity: 0;
        transform: translate(180px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.bg-custum-bouton{
    background-color: #DB4702;
    width: 20%;
    height: 15vh;
    font-size: 3em;
} 